version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
  test:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
